.input-group-addon {
    padding: 0.5rem 1rem;
    border-right: 0;
    border-radius: 6px 0 0 6px;
    background: #E5E5E5;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3333333;
    border-left: 0;
    border-radius: 0 6px 6px 0;
    background: #E5E5E5
}

.btn-marketing {
    // height: 46px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    line-height: 1.3333333;
    background: transparent;
    border-color: #37B7F7;
    color: #37B7F7;
    float: right;
    &:hover {
        color: #fff;
        background: #2AB2F7;
    }
}

.filter-marketing {
    padding: 0 30px;
    height: 600px;
    overflow: auto;
    .card-body {
        padding: 10px;
        h5 {
            font-size: 18px;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        label {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .form-group {
            &:not(:last-child) {
                border-bottom: 1px solid rgba(0, 0, 0, .3);
            }
        }
    }
}

.campaign {
    margin-bottom: 5px;
    .card-body {
        padding: 10px;
    }
    .campaign-header {
        h5 {
            font-weight: 400;
            text-transform: uppercase;
        }
        .time-register {
            font-weight: 300;
        }
        button {
            margin-top: 10px;
            border-radius: 40px;
            width: 120px;
        }
        .switch-xs {
            width: 60px;
            margin-top: 20px;
        }
        .switch.switch-3d.switch-xs .switch-input:checked~.switch-handle {
            left: 33px;
        }
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        .switch.switch-3d.switch-xs .switch-handle {
            width: 27px;
            height: 27px;
        }
        .switch.switch-3d .switch-handle {
            top: -6px;
            border: 2px solid #37B7F7;
        }
        .action {
            li {
                list-style: none;
                display: inline-block;
                font-size: 22px;
                padding: 5px 10px;
                margin-top: 5px;
                a {
                    color: rgba(0, 0, 0, .7);
                    ;
                    &:hover {
                        color: #37B7F7
                    }
                }
            }
        }
    }
    .campaign-body {
        margin-top: 20px;
        .icon {
            position: relative;
            .tooltip-icon {
                position: absolute;
                bottom: -2px;
                left: 15px;
                width: 13px;
                height: 13px;
                background: rgba(0, 0, 0, .5);
                border-radius: 100%;
                color: #fff;
                font-size: 10px;
                padding: 0 4px;
            }
        }
        .customer {
            position: relative;
            .value {
                font-size: 22px;
                font-weight: 400;
            }
            .name {
                font-size: 11px;
                font-weight: 300;
                margin-top: 20px;
                .tooltip-icon {
                    width: 12px;
                    height: 12px;
                    background: rgba(0, 0, 0, .5);
                    border-radius: 100%;
                    color: #fff;
                    font-size: 10px;
                    padding: 0 4px;
                }
            }
        }
        .open-percent {
            position: relative;
            .value {
                font-size: 22px;
                font-weight: 400;
                position: absolute;
                color: #F85061;
            }
            .name {
                text-align: center;
                font-size: 11px;
                font-weight: 300;
                margin-top: 20px;
                .tooltip-icon {
                    width: 12px;
                    height: 12px;
                    background: rgba(0, 0, 0, .5);
                    border-radius: 100%;
                    color: #fff;
                    font-size: 10px;
                    padding: 0 4px;
                }
            }
        }
        .crv {
            position: relative;
            .value {
                font-size: 22px;
                font-weight: 400;
                position: absolute;
                color: #E0D517;
            }
            .name {
                text-align: center;
                font-size: 11px;
                font-weight: 300;
                margin-top: 20px;
                .tooltip-icon {
                    width: 12px;
                    height: 12px;
                    background: rgba(0, 0, 0, .5);
                    border-radius: 100%;
                    color: #fff;
                    font-size: 10px;
                    padding: 0 4px;
                }
            }
        }
    }
}

.modal-sm {
    .modal-content {
        border: 1px solid #37B7F7;
        border-radius: 5px;
    }
    .modal-body {
        padding: 20px;
    }
    .btn-cancle {
        margin-bottom: 20px;
        text-transform: uppercase;
        color: #374767;
    }
    .btn-confirm {
        margin-bottom: 20px;
        color: #37B7F7;
        background: transparent;
        text-transform: uppercase;
        &:hover {
            background: #37B7F7;
            border-radius: 40px;
            color: #fff;
        }
    }
    min-width: 450px;
    margin: 100px auto;
}
