.button-status {
  display: block;
}

.label-title {
  margin-left: 0px;

}

.menu-bottom span {
  font-size: 9px;
}

.list-category {
  max-height: 200px;
  overflow: auto;
}

.input-two-data {
  width: 95%;
}
