<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="app flex-row align-items-center animated fadeIn" [class.view-login]="!isView">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <div class="title-login"><h1>Mobio</h1></div>
              <div class="input-group mb-1 section-login">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [disabled]="isLoading" type="email" class="form-control" name="userNameValidate"
                       #userNameValidate="ngModel"
                       [(ngModel)]="dataLogin.userName"
                       placeholder="Tên đăng nhập" required #userNameInput>
              </div><!-- email -->
              <div *ngIf="userNameValidate.errors && (userNameValidate.dirty || userNameValidate.touched)"
                   class="validate-error">
                <div [hidden]="!userNameValidate.errors.required">
                  * Tền đăng nhập không được để trống
                </div>
              </div><!-- email validate -->
              <div class="input-group mb-2 section-login">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [disabled]="isLoading" type="password" class="form-control" name="passwordValidate"
                       #passwordValidate="ngModel"
                       [(ngModel)]="dataLogin.password"
                       placeholder="Mật Khẩu" required #passwordInput>
              </div>
              <div *ngIf="passwordValidate.errors && (passwordValidate.dirty || passwordValidate.touched
                  || passwordValidate.length<4)" class="validate-error">
                <div [hidden]="!passwordValidate.errors.required">
                  * Mật khẩu không được phép để trống
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <!--<button type="button" class="btn btn-primary px-2 btn-ladda" data-style="expand-right"
                          [ladda]='isLoading' (click)="login()">Login
                  </button>-->
                  <button [ladda]='isLoading' [disabled]="userNameValidate.errors ||passwordValidate.errors "
                          class="btn btn-primary btn-ladda" data-style="expand-right" (click)="login()">Đăng nhập
                  </button>
                </div>
                <div class="col-6 text-right">
                  <button type="button" [disabled]="isLoading" class="btn btn-link px-0">Quên mật khẩu?</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-inverse card-primary py-3 hidden-md-down" style="width:44%">
            <div class="card-block info-register">
              <div>
                <h4 style="margin-bottom: 30px;">Chưa có tài khoản?</h4>
                <p>Đăng ký tài khoản ngay hôm nay để trải nghiệm công cụ chăm sóc khách hàng toàn diện</p>
                <div style="text-align: center;">
                  <button id="btn-register" [disabled]="isLoading" type="button" routerLink="/register"
                          class="btn btn-default active mt-1">
                    Đăng ký
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
