.form-control-label{
  padding-top: 0.5rem;
}
ul.icons-list li .desc{
  margin-left: 0px;
  .title{
    padding: 10px 0 0;
  }
}
.list-shop{
	padding-top:0px;
}
.see-more{
	margin-top:20px;
}

.card-header .card-actions a, .card-header .card-actions button{
	width: 25px;
}
.card-actions{
  margin-right: 15px;
  a> i{
    font-size: 25px;
  }
}

.mt-element-overlay .mt-overlay-3 h2{
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 15px !important;
  padding: 5px 10px 5px 10px !important;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  top: 75%;
  transition: all 0.4s;
}

:host /deep/ .card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: white !important;
  border-bottom: 1px solid white !important;
}

.form-control-label {
  padding-top: 0.5rem;
  font-weight: 600;
}

.mt-overlay-3 {
  width:100px;
  margin-top: -25px;
}

.user-basic-info-block{
  padding-top: 0 !important;
}
