<div class="animated fadeIn">
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3">
      <div class="input-group search-content">
                <span class="input-group-btn">
                    <button (click)="searchPromotion()" type="button" class="btn btn-default"><i
                      class="fa fa-search"></i></button>
                  </span>
        <input type="text" [(ngModel)]="keySearch" (keyup.enter)="searchPromotion()" id="input1-group2"
               name="input1-group2" class="form-control" placeholder="Tìm kiếm"/>
      </div>
    </div>
    <!--search-->

    <div class="col-md-4">
      <button class="btn btn-delete col-sm-2" [disabled]="!allowButton" type="button" (click)="removeProductSelect()">
        Xóa
      </button>
      <button class="btn btn-hide col-sm-2" [disabled]="!allowButton" type="button" (click)="hideProductSelect()">Ẩn
      </button>
      <button class="btn btn-show col-sm-2" [disabled]="!allowButton" type="button" (click)="showProductSelect()">
        Hiển thị
      </button>
    </div>
    <div class="col-md-5 btn-execute">
      <button class="btn btn-created" type="button" (click)="showCreatePromotion()"><i
        class="fa fa-plus-circle"></i> Tạo ưu đãi
      </button>
    </div>
  </div>
  <!--search and upload file, create promotion-->

  <div class="row">
    <div class="col-md-2 col-sm-12">
      <div class="card card-filter">
        <div class="card-header">Trạng thái hiển thị</div>
        <div class="card-block">
          <div class="checkbox">
            <label>
              <input name="chkShow" type="checkbox" value="show" #showStateItem
                     (change)="filterStateShow()"> Hiển Thị
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="chkHide" type="checkbox" value="hide" #hideStateItem
                     (change)="filterStateHide()"> Ẩn
            </label>
          </div>
        </div>
        <!--Trạng thái hiển thị -->
        <div class="card-header">Trạng thái hiệu lực</div>
        <div class="card-block">
          <div class="checkbox">
            <label>
              <input name="chkAllow" type="checkbox" value="allow" #acceptEffect
                     (change)="filterAcceptEffect()"> Có
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input name="chkReject" type="checkbox" value="reject" #rejectEffect
                     (change)="filterRejectEffect()"> Không
            </label>
          </div>
        </div>
        <!--Trạng thai hiệu lực -->
        <div class="card-header">Danh Mục</div>
        <div class="card-block list-category">
          <div class="checkbox" *ngFor="let promotionType of promotionTypes">
            <label>
              <input name="{{promotionType.code}}" type="checkbox" value="{{promotionType.code}}"
                     (change)="filterCate($event, promotionType.code)"> {{promotionType.title.vi}}
            </label>
          </div>
        </div>
        <!--Danh mục -->
      </div>
    </div>
    <!--Menu left- Filtering promotion-->
    <div class="col-md-10 col-sm-12">
      <div class="card">
        <table class="table table-list">
          <thead>
          <tr>
            <th style="width: 20px;">
              <input type="checkbox" #_selectAllPromotion (click)="selectPromotions($event)"/>
            </th>
            <th style="width: 15%;">
              Ảnh đại diện
            </th>
            <th style="width: 25%;">
              Tên ưu đãi
            </th>
            <th style="width: 20%;text-align: center">
              Thời gian bắt đầu
              <i style="float:none;" [ngClass]="{'select-cursor fa':true,'fa-sort':setIconTimeStart===0,
                    'fa-sort-asc':setIconTimeStart===1,'fa-sort-desc':setIconTimeStart===2}" aria-hidden="true"
                 (click)="sortTimeStart()"></i>
            </th>
            <th style="width: 20%;text-align: center;">
              Thời gian kết thúc
              <i style="float:none;" [ngClass]="{'select-cursor fa':true,'fa-sort':setIconTimeEnd===0,
                    'fa-sort-asc':setIconTimeEnd===1,'fa-sort-desc':setIconTimeEnd===2}" aria-hidden="true"
                 (click)="sortTimeEnd()"></i>
            </th>
            <th style="width: 20%;text-align: center;">
              Thao tác
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let promotion of promotions" [class.state-show]="promotion.state === 2">
            <td><input name="{{promotion.idPromotion}}" value="{{promotion.idPromotion}}" type="checkbox"
                       (change)="selectPromotion($event,promotion.idPromotion)" [checked]="promotion['select']">
            </td>
            <td><img
              [src]="!+promotion.avatar?'http://www.manningeagles.com/wp-content/uploads/promotion.jpg':promotion.avatar"
              width="100%" height="72" alt=""></td>
            <td style="color: #37b7f7">
              <button class="btn out-date" [ngStyle]="{'display': promotion.stateOfEffect === 1? 'none':'initial'}">
                Hết hiệu lực
              </button>
              <br/>
              <label>{{promotion.namePromotion}}</label>
            </td>
            <td style="text-align: center;">{{promotion.timeStartPromotion}}</td>
            <td style="text-align: center">{{promotion.timeEndPromotion}}</td>
            <td style="text-align: center" class="btn-execute">
              <i (click)="showEditPromotion(promotion.idPromotion, promotion.state)" class="fa fa-pencil-square-o fa-3"
                 tooltip="Sửa" aria-hidden="true"></i>
              <i (click)="switchSingleState(promotion.idPromotion, promotion.state)" class="fa"
                 [tooltip]="promotion.state === 1? 'Ẩn':'Hiện'"
                 [ngClass]="{'fa-eye': promotion.state === 2,'fa-eye-slash': promotion.state === 1}"></i>
              <i (click)="removePromotion(promotion.namePromotion,promotion.idPromotion)"
                 class="glyphicon glyphicon-trash" tooltip="Xóa"></i>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="5">
              <pagination-mobio [paging]="paging" (onSelectPage)="getCurrentPage($event)"></pagination-mobio>
            </td>
            <td colspan="1" style="float:right;">
              <div class="input-group">
                <span class="input-group-addon file-upload-show">Hiển thị </span>
                <select class="select-page " id="select-page" name="select-page" size="1" #_selectCurrentPage
                        (change)="changePerPage(_selectCurrentPage.value)">
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                  <option value="20">20</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </div>

            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!--Table show data and action add + edit + delete-->
  </div>
  <!--Show Table List Product-->

</div>

<div bsModal #promotionModal="bs-modal" class="modal fade modal-create-product" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="min-width: 1000px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{textTitle}}</h4>
        <button type="button" class="close" (click)="promotionModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" #elModalPromotionBody (scroll)="onScrollPromotionModal()">
        <div class="row body-create-product">
          <div class="col-sm-8 col-sm-offset-4">
            <div class="col-sm-12 creat-product">
              <div class="form-group row" #elPromotionName>
                <label class="col-sm-10 form-control-label">Tên ưu đãi (*)</label>
                <div class="col-sm-11">
                  <input class="form-control input-sm input-text input-radius" [(ngModel)]="promotion.namePromotion"
                         type="text" [disabled]="isLoadingPromotion" maxlength="256">
                </div>
              </div>
              <!--Tên ưu đãi-->
              <div class="form-group row">
                <label class="col-sm-10 form-control-label">Danh muc (*)</label>
                <div class="col-sm-4" *ngFor="let promotionType of promotionTypesModal">
                  <div class="checkbox">
                    <label>
                      <input name="input-category" type="checkbox" [checked]="promotionType['select']"
                             [value]="promotionType.code" [disabled]="isLoadingPromotion"
                             (change)="selectPromotionInModal($event, promotionType.code)"> {{promotionType.title.vi}}
                    </label>
                  </div>
                </div>
              </div>
              <!--Danh Mục-->
              <div class="form-group row">
                <label class="col-sm-12 form-control-label">Kiểu ưu đãi (*)</label>
                <div class="col-md-11">
                  <select class="form-control input-radius" size="1" #_typePromotion
                          (change)="changeTypePromotion(_typePromotion.value)">
                    <option value="1" [selected]="promotion.typePromotion === 1">Ưu đãi chung</option>
                    <option value="2" [selected]="promotion.typePromotion === 2">Ưu đại trên từng sản phẩm</option>
                  </select>
                </div>
              </div>
              <!--Kiểu ưu đãi-->
              <div class="form-group row" *ngIf="promotion.typePromotion === 2">
                <label class="col-sm-12 form-control-label">Sản Phẩm (*)</label>
                <div class="col-md-11">
                  <angular2-multiselect [data]="dropDownListProduct" [(ngModel)]="selectedProduct"
                                        [settings]="dropDownSettings" (onSelect)="onProductSelect($event)"
                                        (onDeSelect)="onProductDeSelect()"></angular2-multiselect>
                </div>
              </div>
              <!--Sản phẩm-->
            </div>
            <!-- Create promotion section 1-->

            <div class="col-sm-12 creat-product">
              <div class="form-group row">
                <label class="col-sm-5 form-control-label">Giảm giá theo (*)</label>
                <label class="col-sm-1 form-control-label"></label>
                <label class="col-sm-5 form-control-label">{{setTypeDisCount? 'Phần trăm giảm':'Giá tiền giảm'}}
                  (*)</label>
                <div class="col-sm-5">
                  <select class="form-control input-radius" id="id-discount" name="select" size="1" #_selectDistcount
                          (change)="selectDiscount(_selectDistcount.value)">
                    <option value="1" [selected]="promotion.typeDiscount === 1">Phần trăm</option>
                    <option value="2" [selected]="promotion.typeDiscount === 2">Giá tiền</option>
                  </select>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5 form-group">
                  <div class="input-group">
                    <input class="form-control input-radius-left" id="input2-group-discount" type="number"
                           [disabled]="isLoadingPromotion" [(ngModel)]="valueDiscount" min="0"
                           (change)="changeValueDiscount()">
                    <div class="input-group-addon input-radius-right">{{setTypeDisCount? '%': 'VNĐ'}}</div>
                  </div>
                </div>
                <div class="col-sm-12"></div>
                <label class="col-sm-12 form-control-label"
                       [ngStyle]="{'display': promotion.typePromotion === 1? 'none':'initial' }">Số điểm thanh toán
                  (*)</label>
                <div class="col-sm-5" [ngStyle]="{'display': promotion.typePromotion === 1? 'none':'initial' }">
                  <div class="input-group ">
                    <input class="form-control input-radius" id="input2-group-numberPayment" type="number" min="1"
                           disabled="true" [(ngModel)]="paymentPoint">
                  </div>
                </div>
              </div>
              <!--Giảm giá theo-->
            </div>
            <!-- Create promotion section 3 -->

            <div class="col-sm-12 creat-product">
              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Số mã giao dich được xác thực trong toàn chương
                    trình</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius" type="number" min="0" [disabled]="isLoadingPromotion"
                             [(ngModel)]="promotion.code_active_max">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label class="col-sm-12 form-control-label" style="min-height: 42px;">Số mã giao dịch được xác thực
                    trong ngày</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius" type="number" [disabled]="isLoadingPromotion" min="0"
                             [(ngModel)]="promotion.code_active_max_per_day">
                    </div>
                  </div>
                </div>
              </div>
              <!--Giảm giá theo-->
              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Số mã giao dich tối đa 1KH được xác thực trong toàn trương
                    trình</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius" [(ngModel)]="promotion.code_user_active_max"
                             type="number" min="0" [disabled]="isLoadingPromotion">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Số mã giao dịch tối đa 1 khách được lấy trong ngày</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius" [(ngModel)]="promotion.code_user_get_max_per_day"
                             type="number" min="0" [disabled]="isLoadingPromotion">
                    </div>
                  </div>
                </div>
              </div>
              <!--Giảm giá theo-->
              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Số mã giao dich tôi đa 1 KH được lấy trong toàn chương
                    trình</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius" type="number" [ngModel]="promotion.code_user_get_max"
                             min="0" [disabled]="isLoadingPromotion">
                    </div>
                  </div>
                </div>
                <div class="col-6">

                </div>
              </div>
              <!--Giảm giá theo-->

              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Thời gian hiệu lực của mã giao dịch (*)</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius-left" type="number" min="0"
                             [(ngModel)]="promotion.number_seconds_code_valid" [disabled]="isLoadingPromotion"
                             placeholder="Thời gian hiệu lực của mã giao dịch">
                      <span class="input-group-addon input-radius-right">Phút</span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label class="col-sm-12 form-control-label input-radius-apart">Thời gian giữa các lần lẫy mã
                    (*)</label>
                  <div class="col-sm-12">
                    <div class="input-group">
                      <input class="form-control input-radius-left" type="number" min="0"
                             [(ngModel)]="promotion.number_seconds_between_twice_get_code"
                             [disabled]="isLoadingPromotion" placeholder="Thời gian hiệu lực của mã giao dịch">
                      <span class="input-group-addon input-radius-right">Phút</span>
                    </div>
                  </div>
                </div>
              </div>
              <!--thoi gian-->
            </div>
            <!-- Create promotion section 4 -->
            <div class="col-sm-12 creat-product">
              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Thời gian bắt đầu(*)</label>
                  <div class="col-sm-12">
                    <duc-datetimepicker class="input-radius" [options]="optionsStartEventDatetimePicker"
                                        [groupClass]="'left-ico'" [groupIconClass]="'fa fa-calendar'"
                                        [(ngModel)]="promotion.timeStartPromotion"></duc-datetimepicker>
                  </div>
                </div>
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Thời gian kết thúc</label>
                  <div class="col-sm-12">
                    <duc-datetimepicker class="input-radius" [options]="optionsEndEventDatetimePicker"
                                        [groupClass]="'left-ico'" [groupIconClass]="'fa fa-calendar'"
                                        [(ngModel)]="promotion.timeEndPromotion"></duc-datetimepicker>
                  </div>
                </div>
              </div>
              <!--Date start and End date-->
              <div class="form-group row">
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Thời gian bắt đầu hiện thị(*)</label>
                  <div class="col-sm-12">
                    <duc-datetimepicker class="input-radius" [options]="optionsStartDisplayDatetimePicker"
                                        [groupClass]="'left-ico'" [groupIconClass]="'fa fa-calendar'"
                                        [(ngModel)]="promotion.timeStartDisplay"></duc-datetimepicker>
                  </div>
                </div>
                <div class="col-6">
                  <label class="col-sm-12 form-control-label">Thời gian kết thúc hiển thị</label>
                  <div class="col-sm-12">
                    <duc-datetimepicker class="input-radius" [options]="optionsEndDisplayDatetimePicker"
                                        [groupClass]="'left-ico'" [groupIconClass]="'fa fa-calendar'"
                                        [(ngModel)]="promotion.timeEndDisplay"></duc-datetimepicker>
                  </div>
                </div>
              </div>
              <!--set time-->
            </div>
            <!-- Create promotion section 5 -->
            <div class="col-sm-12 creat-product" style="padding: 0 40px;" #elModalDescription>
              <label style="margin-left: -13px;margin-top: 10px;" class="col-sm-10 form-control-label">Mô tả (*)</label>
              <div class="form-group row" style="padding: 0 16px;">
                <ckeditor [config]="config" [(ngModel)]="promotion.description"></ckeditor>
              </div>
              <!--Mô tả-->
              <div class="form-group row">
              </div>
              <div class="form-group row" style="padding: 0 15px;">
                <div style="width: 96%;border-bottom: none; " class="tooltip-show">
                  <label>Tags <i
                    tooltip="Bạn nên chọn các từ khóa có liên quan đến khuyễn mãi để tối ưu hóa tim kiếm trên Google Search và các công cụ tìm kiếm khác">?</i></label>
                </div>
                <div style="width: 96%;">
                  <tag-input [(ngModel)]='tags'></tag-input>
                </div>
              </div>
            </div>
            <!-- Create promotion section 4 = description and tag-input -->

            <div class="col-sm-12 creat-product" style="padding: 0 40px;">
              <label style="margin-left: -13px;margin-top: 10px;" class="col-sm-10 form-control-label">Địa điểm áp
                dụng</label>
              <div class="row bar-filter-shop">
                <div class="col-md-4">
                  <div class="input-group input-radius" style="background-color: #e1e6ef;">
                                        <span class="input-group-btn">
                      <button type="button" class="btn btn-default input-radius-left"><i
                        class="fa fa-search"></i></button>
                    </span>
                    <input type="text" id="input-search-shop" name="input-search-shop"
                           class="form-control input-radius input-search" placeholder="Tìm cửa hàng"
                           style="color:black;" [(ngModel)]="valueAddressSearch"/>
                  </div>
                </div>

                <!--search-->
                <div class="col-md-4 dopdownSelect">
                  <label class="lableSelect input-radius" (click)=setViewArea()>Chọn vùng miền
                    <i [ngClass]="{'fa-angle-down':setHideSelectArea,'fa-angle-up':!setHideSelectArea}" class="fa"></i>
                  </label>
                  <ul [ngStyle]="{'display': setHideSelectArea?'none':'block'}">
                    <li style="border-bottom: 1px solid #e4e0e0;"><input type="checkbox"
                                                                         (change)="selectAllDomain($event)" value="0"/>
                      <span id="selectAreaAll"> {{!checkBoxArea?'Chọn tất cả':'Bỏ tất cả'}}</span>
                    </li>
                    <li *ngFor="let province of provinces">
                      <input type="checkbox" [value]="province.code" [checked]="province['select']"
                             (change)="selectDomain($event, province.code)" [disabled]="isLoadingPromotion"/>
                      <span>{{province.name.vi}}</span>
                    </li>
                  </ul>
                </div>
                <!-- Select a region -->
                <div class="col-md-4 dopdownSelect">
                  <label class="lableSelect input-radius" (click)=setViewCity()>Chọn tỉnh thành
                    <i [ngClass]="{'fa-angle-down':setHideSelectCity,'fa-angle-up':!setHideSelectCity}" class="fa"></i>
                  </label>
                  <ul [ngStyle]="{'display': setHideSelectCity?'none':'block'}">
                    <li style="border-bottom: 1px solid #e4e0e0;"><input [checked]="checkAllCity"
                                                                         [disabled]="isLoadingPromotion" type="checkbox"
                                                                         value="0"
                                                                         (change)="selectAllProvincesCity($event)"/>
                      <span id="selectCityAll">{{!checkBoxCity?'Chọn tất cả':'Bỏ tất cả'}}</span>
                    </li>
                    <li *ngFor="let provincesCity of provincesCityByModal">
                      <input type="checkbox" (click)="selectProvincesCity($event, provincesCity.code)"
                             [checked]="checkBoxCity" [value]="provincesCity.idCity"/>
                      <span>{{provincesCity.name}}</span>
                    </li>
                  </ul>
                </div>
                <!-- Select a city -->
              </div>
              <!-- Select a city -->

              <div class="row" style="margin: 0 1px;margin-top: 15px;">
                <table class="table table-hover table-border">
                  <thead style="display: block;width: 100%;">
                  <tr>
                    <th width="100px"><input type="checkbox" (change)="selectAllShop($event)" [checked]="checkAllShop"
                                             [disabled]="isLoadingPromotion">
                    </th>
                    <th style="width: 1000px;padding-left: 110px;">Địa chỉ</th>
                  </tr>
                  </thead>
                  <tbody style="display: block;height: 250px;overflow-y: auto;overflow-x: hidden;">
                  <tr *ngFor="let shop of shops | dataFilterShop: valueAddressSearch">
                    <td width="100px"><input type="checkbox" (change)="selectShop($event,shop.idShop)"
                                             [disabled]="isLoadingPromotion" [checked]="shop['select']">
                    </td>
                    <td style="width: 1000px;">{{shop.address}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--shop filter and table shop-->
            <div class="col-sm-12 creat-product" style="padding: 20px 40px 0;" #elImageDescription>
              <div class="col-sm-12 header-upload">
                <label class="col-sm-10 form-control-label title-upload">Ảnh đại diện (*)</label><br/>
                <i class="file-note">Kích thước 320x320 pixels Dung lượng =< 100kB Ảnh jpg, jpeg, png</i>
              </div>
              <div class="col-sm-12" style="min-height: 150px;">
                <div class="form-group row">
                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOverAvatar}"
                       (onFileDrop)="changeUrlFileUploadAvatar()" (fileOver)="fileOverBaseUploadAvatar($event)"
                       [uploader]="uploaderAvatar" class="well my-drop-zone">
                    <!--<div class="col-sm-6 offset-md-4 title-upload-product"> Kéo và thả ảnh</div>-->
                    <div class="row">
                      <!--<div class="col-sm-4 text-right text-hoac">
Hoặc :
</div>-->
                      <div class="col-sm-3"></div>
                      <div class="col-sm-6" style="height:135px;">
                        <!--<button class="btn btn-s" type="button" (click)="chooseFileUpdateAvatar()">
<span class="glyphicon glyphicon-upload"></span> Chọn file
</button>-->
                        <img (click)="chooseFileUpdateAvatar()" style="margin:auto;" class="img-responsive drop-file"
                             src="../../../../assets/img/upload-icon.PNG" alt="">
                        <span style="display: none;" *ngFor="let item of uploaderAvatar.queue">
                          {{ item?.file?.name }}
                        </span>
                        <div class="hidden-md-down hidden-md-up">
                          <input type="file" #elInputFileAvatar ng2FileSelect [disabled]="isLoadingPromotion"
                                 (change)="changeUrlFileUploadAvatar()" [(uploader)]="uploaderAvatar"/>
                        </div>
                      </div>
                      <div class="col-sm-3"></div>

                    </div>
                  </div>
                  <div class="row">
                    <div *ngFor="let imgAvatar of uploaderAvatar.queue,let iImgAvatar = index" class="fileImgUpload">
                      <img [src]="imgAvatar.url" [alt]="'Ảnh '+iImgAvatar">
                      <span (click)="imgAvatar.remove()"> <i class="fa fa-close"></i></span>
                    </div>
                    <div *ngIf="promotion.avatar && promotion.avatar!=='' && uploaderAvatar.queue.length===0"
                         class="fileImgUpload">
                      <img [src]="promotion.avatar">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Ảnh đại diện -->
              <div class="col-sm-12 header-upload">
                <label class="col-sm-10 form-control-label title-upload">Ảnh mô tả (*)</label><br/>
                <i class="file-note">Kích thước 720x450 pixels Dung lượng =< 100kB Ảnh jpg, jpeg, png</i>
              </div>
              <div class="col-sm-12" style="min-height: 150px;">
                <div class="form-group row">
                  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOverImageDescriptions}"
                       (onFileDrop)="changeUrlFileUploadImageDescriptions()"
                       (fileOver)="fileOverBaseUploadImageDescriptions($event)" [uploader]="uploaderImageDescriptions"
                       class="well my-drop-zone">
                    <!--<div class="col-sm-6 offset-md-4 title-upload-product"> Kéo và thả ảnh</div>-->
                    <div class="row">
                      <!--<div class="col-sm-4 text-right text-hoac">-->
                      <!--Hoặc :-->
                      <!--</div>-->
                      <div class="col-sm-3"></div>
                      <div class="col-sm-6" style="height:135px;">
                        <!--<button class="btn btn-s" type="button" (click)="chooseFileUpdateImageDescriptions()">-->
                        <!--<span class="glyphicon glyphicon-upload"></span> Chọn file-->
                        <!--</button>-->
                        <img (click)="chooseFileUpdateImageDescriptions()" style="margin:auto;"
                             class="img-responsive drop-file"
                             src="../../../../assets/img/upload-icon.PNG" alt="">
                        <span style="display: none"
                              *ngFor="let item of uploaderImageDescriptions.queue">
                          {{ item?.file?.name }}
                        </span>
                        <div class="hidden-md-down hidden-md-up">
                          <input type="file" accept="image/x-png,image/gif,image/jpeg"
                                 [disabled]="isLoadingPromotion" #elInputFileImageDescriptions
                                 ng2FileSelect (change)="changeUrlFileUploadImageDescriptions()"
                                 [(uploader)]="uploaderImageDescriptions" multiple/>
                        </div>
                      </div>
                      <div class="col-sm-3"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div *ngFor="let imgDescription of uploaderImageDescriptions.queue,let iImgDescription = index"
                         class="fileImgUpload">
                      <img [src]="imgDescription.url" [alt]="'Ảnh '+iImgDescription">
                      <span (click)="imgDescription.remove()"> <i class="fa fa-close"></i></span>
                    </div>
                    <div *ngFor="let imgEdit of promotion.imageDescriptions;let iImgDescription = index"
                         class="fileImgUpload">
                      <img [src]="imgEdit.linkImage">
                      <span (click)="removeImgDescription(iImgDescription)"> <i class="fa fa-close"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ảnh mô tả -->
            </div>
            <!-- Create promotion section 6 => Image description -->

            <div class="col-sm-12 creat-product" style="padding: 20px 40px 0;">
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">Trạng Thái Hiển Thị</label>
                <label class="switch switch-3d switch-mobio" style="margin-top:5px;">
                  <input checked="" class="switch-input" type="checkbox" (change)="switchState($event)"
                         [checked]="promotion.state===1" [disabled]="isLoadingPromotion">
                  <span class="switch-label"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </div>
            <!--Create  section 7 Trạng Thái Hiển Thị -->
            <!--Create product section 8 => button execute -->
          </div>
          <!--Left body content-->
          <div class="col-sm-4" id="viewmobile" style="position: relative;">
            <div id="scroolMobie" class="fixed  sidebar-outer">
              <div id="contentIphoneOut">
                <div id="contentIphoneIn">
                  <mobilePromotion-component #elMobilePromotion
                                             [uploaderImageDescriptions]="uploaderImageDescriptions.queue"
                                             [uploaderAvatar]="(!!uploaderAvatar && uploaderAvatar.queue.length > 0)?uploaderAvatar.queue[0].url:''"
                                             [promotion]="promotion" [setTop]="setTop"></mobilePromotion-component>
                </div>
              </div>
            </div>
          </div>
          <!-- Mobile view product-->
          <div #divOutClick id="divOutClick" (click)="dismisDopdown()"
               [ngStyle]="{'display': setHideSelectOutClick?'none':'block'}"></div>
        </div>
      </div>
      <div class="modal-footer">

        <div class="col-xs-12">
          <button type="button" class="btn btn-created" [ladda]="isLoadingPromotion" (click)="savePromotion()">Lưu
          </button>
          <button type="button" class="btn btn-cancle" (click)="promotionModal.hide()">Bỏ qua
          </button>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Create Product -->

<div bsModal #formDeletePromotion="bs-modal" class="modal fade modal-create-product" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="min-width: 1000px;    margin-top: 15%;">
    <div class="modal-content" style="width: 352px;margin: auto;text-align: center;padding: 18px;border-radius: 4px;">
      <h4>Bạn có chắc muốn xóa ?</h4>
      <div style="padding-top: 10px;">
        <button type="button" class="btn btn-created btn-create-product text-uppercase" style="float: none">Đồng ý
        </button>
        <button type="button" class="btn btn-cancle btn-create-product text-uppercase" style="float: none">Không
        </button>
      </div>
      <!--Create product section 8 => button execute -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Modal Create Product -->
